.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
